@model luke_josh_project.Models.ViewModels.PokerViewModel
@{

}

<div class="jumbotron">
    <h1>Poker</h1>
    <p class="lead">Hello world</p>
    <p><a href="/Poker/Stats" class="btn btn-primary btn-lg">See stats &raquo;</a></p>
    <p><a href="/Poker/Game" class="btn btn-primary btn-lg">Manage games &raquo;</a></p>
</div>
